# Core paths
POLY_APP_ROOT=/opt/polyapp/current
POLY_INSTANCE_ROOT=/opt/polyapp/instances/user01
POLY_V2_ROOT=/opt/polyapp/current/POLYMARKET_MAKER_copytrade_v2
POLY_V3_ROOT=/opt/polyapp/current/POLY_SMARTMONEY/copytrade_v3_muti

# Panel bind
POLY_PANEL_HOST=127.0.0.1
POLY_PANEL_PORT=8787

# Session/auth
POLY_AUTH_REQUIRED=1
POLY_AUTH_DEFAULT_USERNAME=admin
POLY_AUTH_DEFAULT_PASSWORD=admin
POLY_SESSION_SECRET=replace_with_64_random_chars
POLY_SESSION_TTL_SEC=43200

# Optional roots
POLY_LOG_ROOT=/opt/polyapp/instances/user01/logs
POLY_RUN_ROOT=/opt/polyapp/instances/user01/run
POLY_REVERSE_PROXY_MODE=1

# Runtime mode
POLY_FORCE_SOURCE_SERVICES=1
